<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="HCA" connectionString="data source=bclab-qasvr01.hrbinc.hrblock.net;initial catalog=dbDNN612;integrated security=True" providerName="System.Data.SqlClient" />
    <add name="ELMS" connectionString="data source=bclab-qasvr01.hrbinc.hrblock.net;initial catalog=dbELMS;integrated security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>